extends layout.pug

block content
  section.section-one.base-container
    h2 EXPERIENCE
    br
    .cards
        div
          h3
            strong OTTclean Commercial Cleaning Services
          h4.thin 369 Kinghorn Crescent &#40;Remote&#41; - Web Designer/Developer
          p.p-size-small.thin OCTOBER 2021 - FEBRUARY 2022
          ul
            li
              p Designed and developed company front page &lpar;www.ottclean.com&rpar; and pages for 4 company services
            li
              p Built responsive, functional user interfaces with HTML and CSS
            li
              p Implemented backend functionality to store and notify via email whenever a price quote is requested using Javascript and Node.js
        div
          h3
            strong Secure City Solutions
          h4.thin 135 Michael Cowpland Dr, Ottawa, ON — Software Testing Engineer
          p.p-size-small.thin JUNE 2019 - AUGUST 2019
          ul
            li
              p Developed and documented software application testing plans, then executed and analyzed them
            li
              p Identified, reported, and proposed solutions to technical product defects
            li
              p Remotely troubleshooted clients/colleagues with software, hardware, and networking issues
        div
          h3
            strong Nokia
          h4.thin 600 March Rd, Ottawa, ON — Cooperative Education Student
          p.p-size-small.thin SEPTEMBER 2017 - JANUARY 2018
          ul
            li
              p Assembled prototype and production routers according to specifications
            li
              p Expanded internal internet infrastructure with network engineers

  section.section-two
    .base-container
      h2 SKILLS
      br
      strong Computer graphics
      p 3D modeling, lighting, texturing, rendering, post-processing
      br
      strong Programming languages
      p Python 3, C, C++, HTML, CSS/SASS, JavaScript, TypeScript, Java, GLSL, HLSL
      br
      strong Tools
      p Node.js, React Native, Microsoft Azure, Git, Vulkan, OpenGL, Blender, Adobe Photoshop

  section.section-three.base-container
    h2 EDUCATION
    br
    div
      h3
        strong Carleton University
      p.p-size-small.thin SEPTEMBER 2018 - NOVEMBER 2022
      h3.thin 1125 Colonel By Dr, Ottawa, ON — Computer Science B.C.S. Major

    div
      h3
        strong All Saints Catholic High School
      p.p-size-small.thin SEPTEMBER 2012 - JUNE 2018
      h3.thin 5115 Kanata Ave, Ottawa, ON — Ontario Secondary School Diploma

  section.base-container.section-four
      h2 CERTIFICATIONS
      br
      div
        h3
          strong Microsoft Azure Fundamentals AZ-900
        h3.thin Credential ID: 993569895

      div
        h3
          strong Specialist High Skills Major
        h3.thin Information and Communications Technology