extends layout.pug

block nav
  - var active = "Career"

block content
  section.section-one.base-container
    h2 EXPERIENCE
    br
    .cards
        div
          h3
            strong OTTclean Commercial Cleaning Services - Full Stack Software Engineer
          h4.thin Ottawa, Canada &#40;Contractual&#41;
          p.p-size-small.thin OCTOBER 2021 - FEBRUARY 2022
          ul
            li
              p Designed and developed company website.
            li
              p Built responsive, functional user interfaces with HTML and CSS.
            li
              p Implemented backend SMTP and storage functionality in Javascript/Node.js.
        div
          h3
            strong Secure City Solutions — Software Test Engineer
          h4.thin Ottawa, Canada &#40;Full-time&#41;
          p.p-size-small.thin JUNE 2019 - AUGUST 2019
          ul
            li
              p Developed, executed, and analyzed software application testing plans.
            li
              p Remotely troubleshooted customers and colleagues with software, hardware, and networking issues.
            li
              p Created a pre-configured Linux image with usage documentation which accelerated deployment of OS and product software on new hardware units by 400%.
            li
              p Identified and proposed software code solutions to technical product defects.
        div
          h3
            strong Nokia — Cooperative Education
          h4.thin Ottawa, Canada &#40;Student&#41;
          p.p-size-small.thin SEPTEMBER 2017 - JANUARY 2018
          ul
            li
              p Assembled prototype routers, networking devices, and server fans in lab according to mechanical design specifications.
            li
              p Installed fiber optic cabling to expand internal internet infrastructure for new servers.

  section.section-two
    .base-container
      h2 SKILLS
      br
      strong Computer graphics
      p 3D modeling, lighting, texturing, rendering, post-processing
      br
      strong Programming languages
      p Python, C, C++, HTML, CSS/SASS, JavaScript, TypeScript, Java, GLSL
      br
      strong Tools/Frameworks
      p Node.js, React Native, Spring, Microsoft Azure, GIT, Vulkan, OpenGL, Blender, Adobe Photoshop

  section.section-three.base-container
    h2 EDUCATION
    br
    div
      h3
        strong Carleton University — Computer Science B.C.S. Major
      p.p-size-small.thin SEPTEMBER 2018 - NOVEMBER 2022
      h3.thin 1125 Colonel By Dr, Ottawa, ON

    div
      h3
        strong All Saints Catholic High School — Ontario Secondary School Diploma
      p.p-size-small.thin SEPTEMBER 2012 - JUNE 2018
      h3.thin 5115 Kanata Ave, Ottawa, ON

  section.base-container.section-four
      h2 CERTIFICATIONS / HONORS
      br
      div
        h3
          strong Microsoft Azure Fundamentals AZ-900
        h3.thin Credential ID: 993569895

      div
        h3
          strong Microsoft Azure AI Fundamentals AI-900
        h3.thin Credential ID: I408-7178

      div
        h3
          strong Specialist High Skills Major
        h3.thin Information and Communications Technology