extends layout.pug

block content
  section.section-one.base-container
    h2 EXPERIENCE

    .cards
        div
          h3
            strong OTTclean Commercial Cleaning Services
          p.p-size-small.thin JUNE 2019 - AUGUST 2019
          h3.thin 369 Kinghorn Crescent &#40;Remote&#41; - Web Designer/Developer
          ul
            li
              p Iteratively designed front page and pages for 4 company services.
            li
              p Developed responsive, functional user interfaces with HTML5 and CSS3.
            li
              p Implemented backend functionality to store and notify via e-mail when a visitor requests a price quote.
            li
              p Performed search engine optimization.
        div
          h3
            strong Secure City Solutions
          p.p-size-small.thin JUNE 2019 - AUGUST 2019
          h3.thin 135 Michael Cowpland Dr, Ottawa, ON — Software Testing Engineer
          ul
            li
              p Developed and documented software testing plans.
            li
              p Identified, reported, and proposed solutions to technical product defects.
            li
              p Installed software, hardware, and configured operating system software in preparation for testing.
            li
              p Executed, analyzed, and documented results of software application tests.
        div
          h3
            strong Nokia
          p.p-size-small.thin SEPTEMBER 2017 - JANUARY 2018
          h3.thin 600 March Rd, Ottawa, ON — Cooperative Education Student
          ul
            li
              p Assembled various systems such as prototype routers and server cooling fans according to specifications.
            li
              p Measured, crimped, and installed Ethernet cable wiring.
            li
              p Performed electrostatic discharge testing.
            li
              p Updated critical software programs on laboratory computers.
            li
              p Assisted network and mechanical engineers in various tasks.

  section.section-two
    .base-container
      h2 SKILLS
      br
      strong Computer graphics
      p OpenGL, Vulkan, 3D modeling, lighting, texturing, rendering, post-processing
      br
      strong Programming languages
      p C, C++, Java, Python, GLSL, HLSL, HTML5, CSS3/SASS, JavaScript/TypeScript
      br
      strong Tools
      p React Native, Git, Blender, Adobe Photoshop

  section.section-three.base-container
    h2 EDUCATION

    div
      h3
        strong All Saints Catholic High School
      p.p-size-small.thin SEPTEMBER 2012 - JUNE 2018
      h3.thin 5115 Kanata Ave, Ottawa, ON — Ontario Secondary School Diploma
    
    div
      h3
        strong Carleton University
      p.p-size-small.thin SEPTEMBER 2018 - NOVEMBER 2022
      h3.thin 1125 Colonel By Dr, Ottawa, ON — Computer Science B.C.S. Major