extends layout.pug

block content
  article.base-container.website-introduction
      h2 Hello, and welcome to my website.
      br
      p I'm a software engineer - both as a hobby and a career. The purpose of this website is three-fold:
      ul
        li
          p To present my projects and skills in a more detailed, aesthetic way than is possible through a resume.
        li
          p To serve as a centralized collection of my work across various disciplines.
        li
          p To provide an easily accessible point of contact.

      p I built this website with SASS, Pug, and JavaScript. You can find the code for it 
        a.link(href='https://github.com/FeodorVolguine/FeodorVolguine.github.io' target='_blank') here.