doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Feodor Volguine
    link(rel='stylesheet' href='style.sass.min.css' type='text/css' media='screen' charset='utf-8')
    
    link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='images/favicon/favicon-16x16.png')

  body
    header
      a.title(href='index.html')
        h1.thin Feodor Volguine

      a.toggle-button#nav-main-toggle(role='navigation' aria-expanded='false')
        span
        span
        span

      nav.nav-main#nav-main(role='navigation' aria-label='Main navigation')
        ul
          li
            a(href='career.html') Career
          li
            a(href='projects-gogaman.html') Projects
          //li
            a(href='contact.html') Contact

    block content

    footer.base-container
      nav
        a(href='https://www.linkedin.com/in/feodorvolguine' target='_blank' aria-label='LinkedIn')
          strong.linkedIn-link LinkedIn
        a(href='mailto:feodorvolguine@gmail.com' target='_blank' aria-label='Email')
          strong.email-link Email
        a(href='https://www.github.com/feodorvolguine' target='_blank' aria-label='Github')
          strong.github-link Github

    script(src='client.js')
    block scripts