extends layout.pug

block content
  section.section-one2
    .nav-secondary
      ul
        li
          a(href='projects-gogaman.html') Gogaman
        li
          a(href='projects-workoutwatcher.html') Workout Watcher
    .content-container-unit
      .content-unit.global-illumination
        .unit-text
          h3 Real-time global illumination
          p Light bouncing is simulated using a voxel cone tracing algorithm. This solution to GI requires no baking - light sources and geometry are fully dynamic.
          br
          a.link(href='https://github.com/FeodorVolguine/Gogaman/blob/master/Gogaman/src/Platform/Vulkan/GL_Shaders/voxelConeTracing2.fs' target='_blank' aria-label='View code for voxel cone traced global illumination') View code &rsaquo;
        
        img(src='images/global-illumination.png')

      .content-unit.reflection
        .unit-text
          h3 Reflections
          p Cone tracing through the voxel structure enables reflections, but at a fraction of the cost of raytracing triangle geometry.
          br
          a.link(href='https://github.com/FeodorVolguine/Gogaman/blob/master/Gogaman/src/Platform/Vulkan/GL_Shaders/voxelConeTracing2.fs' target='_blank' aria-label='View code for voxel cone traced reflections') View code &rsaquo;
        
        img(src='images/reflections-1.png')

      .content-unit.emissive-geometry
        .unit-text
          h3 Emissive geometry
          p In addition to point and directional lights, geometry can emit light through the emissive material property.
        
        .comparison-container#comparison-container
          img.comparison(src='images/emissive-on.png')
          img#comparison-image-overlay(src='images/emissive-off.png')
          
          .comparison-slider#comparison-slider

      .content-unit.depth-of-field
        .unit-text
          h3 Depth of field
          p A physical camera model combined with a separable circular convolution yields a nearly ground truth bokeh.
          br
          a.link(href='https://github.com/FeodorVolguine/Gogaman/blob/master/Gogaman/src/Gogaman/Rendering/PerspectiveCamera.cpp' target='_blank' aria-label='View code for physical camera model') View code &rsaquo;
        
        img(src='images/depth-of-field.png')

      .content-unit.tools
        .unit-text
          h3 Tools
        
        //img(src='images/emissive-on.png')

block scripts
  script.
    InitializeImageComparison(true);
    window.addEventListener('resize', () => { InitializeImageComparison(false); });