extends layout.pug

block content
  include mixins/webp-image.pug

  section.section-one2
    .nav-secondary
      ul
        li
          a(href='projects-gogaman.html') Gogaman
        li
          a(href='projects-personal-website') This website
        //li
          a(href='projects-workoutwatcher.html') Workout Watcher

    article.project-description
      h2 A physically based real-time rendering engine

    .content-container-unit
      .content-unit.global-illumination
        .unit-text
          h3 Real-time global illumination
          p Light bouncing is simulated using a voxel cone tracing algorithm. This solution to GI requires no baking - light sources and geometry are fully dynamic.
          br
          a.link(href='https://github.com/FeodorVolguine/Gogaman/blob/master/Gogaman/src/Platform/Vulkan/GL_Shaders/voxelConeTracing2.fs' target='_blank' aria-label='View code for voxel cone traced global illumination') View code &rsaquo;
        
        +webp-image('global-illumination', [1905, 953, 635, 477, 381, 318], '(min-width: 1150px) calc(0.5 * (100vw - 150px)), 100vw')

      .content-unit.reflection
        .unit-text
          h3 Reflections
          p Cone tracing through the voxel structure enables reflections, but at a fraction of the cost of raytracing triangle geometry.
          br
          a.link(href='https://github.com/FeodorVolguine/Gogaman/blob/master/Gogaman/src/Platform/Vulkan/GL_Shaders/voxelConeTracing2.fs' target='_blank' aria-label='View code for voxel cone traced reflections') View code &rsaquo;
        
        +webp-image('reflections-1', [1915, 958, 639, 479, 383, 320], '(min-width: 1150px) calc(0.5 * (100vw - 150px)), 100vw')

      .content-unit.emissive-geometry
        .unit-text
          h3 Emissive geometry
          p In addition to point and directional lights, geometry can emit light through the emissive material property.
        
        .comparison-container#comparison-container
          +webp-image('emissive-on', [1920, 960, 640, 480, 384, 320], '(min-width: 1150px) calc(0.5 * (100vw - 150px)), 100vw').comparison
          +webp-image('emissive-off', [1920, 960, 640, 480, 384, 320], '(min-width: 1150px) calc(0.5 * (100vw - 150px)), 100vw')#comparison-image-overlay
          
          .comparison-slider#comparison-slider

      .content-unit.depth-of-field
        .unit-text
          h3 Depth of field
          p A physical camera model combined with a separable circular convolution yields a nearly ground truth bokeh.
          br
          a.link(href='https://github.com/FeodorVolguine/Gogaman/blob/master/Gogaman/src/Gogaman/Rendering/PerspectiveCamera.cpp' target='_blank' aria-label='View code for physical camera model') View code &rsaquo;
        
        +webp-image('depth-of-field', [1512, 756, 504, 378, 303], '(min-width: 1150px) calc(0.5 * (100vw - 150px)), 100vw')

      .content-unit.pbr
        .unit-text
          h3 Physically based rendering
          p Direct lighting equations implement PBR princples. Disney's diffuse BRDF and GGX specular BRDF are used.

      .content-unit.filmic-tonemapping
        .unit-text
          h3 ACES filmic tonemapping
          p The mapping from high dynamic range values to low dynamic range mimicks a film camera response

      .content-unit.tools
        .unit-text
          h3 Tools
        
        //img(src='images/emissive-on.png')

      .content-unit
        .unit-text
          h3 Miscellaneous &lpar;less impressive, but still neat&rpar;
          ul
            li
              p Bloom around high-luminance image regions using an iterative separable Gaussian convolution
            li
              p Film grain using procedural noise which is modulated based on camera ISO parameter
            li
              p Various tonemapping options
            li
              p G-buffer albedo compression using edge-directed chrominance reconstruction

block scripts
  script.
    InitializeImageComparison(true);
    window.addEventListener('resize', () => { InitializeImageComparison(false); });