//Color palette
$yellow-green: #98ce00ff
$turquoise: #16e0bdff
$maya-blue: #78c3fbff
$cornflower-blue: #89a6fbff
$mountbatten-pink: #98838fff
$eerie-black: #262626ff

html
    font-size: 100%

body
    margin: 0
    height: 100vh
    
    padding: 0

    font-size: 1.25rem
    font-family: Alaska, sans-serif
    letter-spacing: -0.5px
    line-height: 1.5

    color: $eerie-black
    background-color: white

a
    text-decoration: none

li
    margin: 0.25em

h1
    text-align: center
    font-size: 4rem

h2
    margin: 0
    font-size: 3.5rem

h3
    font-size: 1rem

p
    margin: 0
    font-size: 0.9rem

strong
    font-weight: 700

.thin
    font-weight: 300

.p-size-small
    font-size: 0.8rem

header
    position: relative

    .title
        padding: 0 1em

        font-family: Garamond, serif
        color: $mountbatten-pink

    .toggle-button
        position: absolute
        top: 0
        right: 1rem
        width: 32px
        height: 24px
        
        display: flex
        flex-direction: column
        justify-content: space-between

        transition: transform 400ms ease-in-out

        span
            width: 100%
            height: 3px

            background-color: $mountbatten-pink
            border-radius: 12px

    .toggle-button:hover
        cursor: pointer

    .toggle-button.active
        transform: rotate(90deg)

    .nav-main
        //display: none
        height: 0
        overflow: hidden

        transition: height 400ms ease

        ul
            padding: 0.25em 0
            display: flex
            flex-direction: column
            justify-content: space-between

            list-style: none

            li
                margin: 0.5em 1em

                text-align: center

                a
                    padding: 0.25em 0

                    letter-spacing: 0.075em
                    color: $mountbatten-pink

                a:hover
                    border-bottom: 2px solid $mountbatten-pink
                    color: $mountbatten-pink

    .nav-main.active
        height: 200px

footer
    padding: 1rem 0

    nav
        display: flex

        a
            margin-right: 8px

            .social-icon-circle
                position: relative
                width: 32px
                height: 32px
                
                border-radius: 50%
                
                background-color: black

                .social-icon-mask
                    position: absolute
                    top: 7px
                    left: 7px
                    width: 18px
                    height: 18px

        a:hover .social-icon-circle
            background-color: $mountbatten-pink

//Content

.work-content
    padding: 3em 1em 3em 1em

@media (min-width: 1000px)
    .work-content
        margin: auto
        width: 65%

.section-one
    h2
        color: $turquoise

.cards
    padding: 1em
    display: flex
    flex-wrap: nowrap
    overflow-x: auto

    cursor: grab
    -webkit-overflow-scrolling: touch

    .card
        margin: 1em

        flex: none
        width: 250px

        padding: 0.75em

        border-radius: 10px
        box-shadow: 0 4px 14px #00000036

        transition: all 300ms ease

    .card:hover
        transform: scale(1.06)
        box-shadow: 0 10px 14px #00000024
    
.cards::-webkit-scrollbar
    display: none

.section-two
    color: white
    background-image: linear-gradient(90deg, #7188ce, #64a1cf)

.section-three
    h2
        color: $yellow-green