$palette-1: #4C5454
$palette-2: #FF715B
$palette-3: #1EA896
$palette-4: #523F38

$text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4)

$box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3)

html
    font-size: 100% 

body

    height: 100vh
    margin: 0
    padding: 0

    font-size: 1rem
    font-family: Lato, sans-serif

    background-color: white

h1
    text-align: center
    font-size: 3rem

h2
    text-align: center
    font-size: 1.5rem

.thin-text
    font-weight: 300
.bold-text
    font-weight: 700

img
    width: 100%

header
    .name
        margin: auto
        width: 50%
        display: flex
        align-items: flex-start

        .feodor, .volguine
            width: 50%
            object-fit: contain
        .volguine
            margin-top: 32px 

    nav
        display: flex
        justify-content: space-evenly

        ul
            list-style: none

            li
                margin: 50px

                .work
                    padding: 100px
                    background: url('images/button-work.png') no-repeat
                    background-size: contain

                .work:hover
                    background: url('images/button-work-pressed.png') no-repeat
                    background-size: contain

                .projects
                    padding: 30px 100px
                    background: url('images/button-projects.png') no-repeat
                    background-size: contain

                .projects:hover
                    background: url('images/button-projects-pressed.png') no-repeat
                    background-size: contain

                .contact
                    padding: 30px 100px
                    background: url('images/button-contact.png') no-repeat
                    background-size: contain

                .contact:hover
                    background: url('images/button-contact-pressed.png') no-repeat
                    background-size: contain

section