html {
  font-size: 100%;
}

body {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-size: 1.25rem;
  font-family: Alaska, sans-serif;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: #262626ff;
  background-color: white;
}

a {
  text-decoration: none;
}

li {
  margin: 0.25em;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h2 {
  margin: 0;
  font-size: 3.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0;
  font-size: 0.9rem;
}

strong {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.p-size-small {
  font-size: 0.8rem;
}

header {
  position: relative;
}

header .title {
  padding: 0 1em;
  font-family: Garamond, serif;
  color: #98838fff;
}

header .toggle-button {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 32px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

header .toggle-button span {
  width: 100%;
  height: 3px;
  background-color: #98838fff;
  border-radius: 12px;
}

header .toggle-button:hover {
  cursor: pointer;
}

header .toggle-button.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .nav-main {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 400ms ease;
  transition: height 400ms ease;
}

header .nav-main ul {
  padding: 0.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header .nav-main ul li {
  margin: 0.5em 1em;
  text-align: center;
}

header .nav-main ul li a {
  padding: 0.25em 0;
  letter-spacing: 0.075em;
  color: #98838fff;
}

header .nav-main ul li a:hover {
  border-bottom: 2px solid #98838fff;
  color: #98838fff;
}

header .nav-main.active {
  height: 200px;
}

footer {
  padding: 1rem 0;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav a {
  margin-right: 8px;
}

footer nav a .social-icon-circle {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
}

footer nav a .social-icon-circle .social-icon-mask {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18px;
  height: 18px;
}

footer nav a:hover .social-icon-circle {
  background-color: #98838fff;
}

.work-content {
  padding: 3em 1em 3em 1em;
}

@media (min-width: 1000px) {
  .work-content {
    margin: auto;
    width: 65%;
  }
}

.section-one h2 {
  color: #16e0bdff;
}

.cards {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-overflow-scrolling: touch;
}

.cards .card {
  margin: 1em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 250px;
  padding: 0.75em;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 14px #00000036;
          box-shadow: 0 4px 14px #00000036;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.cards .card:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-box-shadow: 0 10px 14px #00000024;
          box-shadow: 0 10px 14px #00000024;
}

.cards::-webkit-scrollbar {
  display: none;
}

.section-two {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#7188ce), to(#64a1cf));
  background-image: linear-gradient(90deg, #7188ce, #64a1cf);
}

.section-three h2 {
  color: #98ce00ff;
}
/*# sourceMappingURL=style.css.map */