extends layout.pug

block content
  section.section-one.base-container
    h2 EXPERIENCE

    .cards
        div
          h3
            strong Secure City Solutions
          h3.thin 135 Michael Cowpland Dr, Ottawa, ON — Software Testing Engineer
          p.p-size-small.thin JUNE 2019 - AUGUST 2019
          ul
            li
              p Developed and documented software testing plans
            li
              p Identified, reported, and proposed solutions to technical product defects
            li
              p Installed software, hardware, and configured operating system software in preparation for testing
            li
              p Executed, analyzed, and documented results of software application tests
        div
          h3
            strong Nokia
          h3.thin 600 March Rd, Ottawa, ON — Cooperative Education Student
          p.p-size-small.thin SEPTEMBER 2017 - JANUARY 2018
          ul
            li
              p Assembled various systems such as prototype routers and server cooling fans using a variety of tools and equipment according to specifications
            li
              p Measured, crimped, and installed Ethernet cable wiring
            li
              p Performed electrostatic discharge testing
            li
              p Updated critical software programs on laboratory computers
            li
              p Assisted network and mechanical engineers in diverse tasks

  section.section-two
    .base-container
      h2 SKILLS
      br
      strong Computer graphics
      p OpenGL, Vulkan, 3D modeling, lighting, texturing, rendering, post-processing
      br
      strong Programming languages
      p C, C++, Java, Python, GLSL, HLSL, HTML5, CSS3/SASS, Javascript/Typescript
      br
      strong Tools
      p React Native, Git, Blender, Adobe Photoshop

  section.section-three.base-container
    h2 EDUCATION

    div
      h3
        strong All Saints Catholic High School
      h3.thin 5115 Kanata Ave, Ottawa, ON — Ontario Secondary School Diploma
      p.p-size-small.thin SEPTEMBER 2012 - JUNE 2018
    
    div
      h3
        strong Carleton University
      h3.thin 1125 Colonel By Dr, Ottawa, ON — Computer Science B.C.S. Major
      p.p-size-small.thin SEPTEMBER 2018 - NOVEMBER 2022